/src/etc/shape_predictor_68_face_landmarks.dat
/src/__pycache__
/src/API_key.json
/src/audio2S3/AWS_key.json
/src/mfcc/data/*
/src/mfcc/npy/*
/src/mfcc/wav/*
/src/mfcc/python_speech_features/__pycache__